<% was_validated = participation.errors.any? %>

<%= form_with(model: participation, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for user_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = participation.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <!-- Input for user_id start -->
    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_id end -->
    <% if user_was_invalid %>
      <% participation.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_id end -->
  <!-- Label and input for challenge_id start -->
  <div class="form-group">
    <% challenge_class = "form-control" %>
    <% challenge_was_invalid = participation.errors.include?(:challenge) %>

    <% if was_validated %>
      <% if challenge_was_invalid %>
        <% challenge_class << " is-invalid" %>
      <% else %>
        <% challenge_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :challenge_id %>
    <!-- Input for challenge_id start -->
    <%= f.collection_select :challenge_id, Challenge.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for challenge_id end -->
    <% if challenge_was_invalid %>
      <% participation.errors.full_messages_for(:challenge).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for challenge_id end -->
  <!-- Label and input for team_id start -->
  <div class="form-group">
    <% team_class = "form-control" %>
    <% team_was_invalid = participation.errors.include?(:team) %>

    <% if was_validated %>
      <% if team_was_invalid %>
        <% team_class << " is-invalid" %>
      <% else %>
        <% team_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :team_id %>
    <!-- Input for team_id start -->
    <%= f.number_field :team_id, class: team_class, placeholder: "Enter team" %>
    <!-- Input for team_id end -->
    <% if team_was_invalid %>
      <% participation.errors.full_messages_for(:team).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for team_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
