<div class="card mb-3">
  <h2 class="card-header h4">
    Photoworkout #<%= photoworkout.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Caption</dt>
      <dd><%= photoworkout.caption %></dd>

      <dt>Challenge</dt>
      <dd>
        <% if @photoworkout.challenge.present? %>
          <%= link_to photoworkout.challenge, photoworkout.challenge %>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @photoworkout.user.present? %>
          <%= link_to photoworkout.user, photoworkout.user %>
        <% end %>
      </dd>

      <dt>Likes count</dt>
      <dd><%= photoworkout.likes_count %></dd>

      <dt>Photo locator</dt>
      <dd>
        <%= cl_image_tag @photoworkout.photo_locator, class: "img-fluid" %>
      </dd>

      <dt>Calories</dt>
      <dd><%= photoworkout.calories %></dd>

      <dt>Main exercise</dt>
      <dd><%= photoworkout.main_exercise %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back photoworkout, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_photoworkout_url(photoworkout), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to photoworkout, method: :delete, data: { confirm: "Do you really want to delete this photoworkout?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(photoworkout.updated_at) %> ago
  </div>
</div>
