<% was_validated = privilege.errors.any? %>

<%= form_with(model: privilege, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% challenge_class = "form-control" %>
    <% challenge_was_invalid = privilege.errors.include?(:challenge) %>

    <% if was_validated %>
      <% if challenge_was_invalid %>
        <% challenge_class << " is-invalid" %>
      <% else %>
        <% challenge_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :challenge_id %>
    <%= f.collection_select :challenge_id, Challenge.all, :id, :to_s, {}, class: "form-control" %>
    <% if challenge_was_invalid %>
      <% privilege.errors.full_messages_for(:challenge).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
