<% was_validated = user.errors.any? %>

<%= form_with(model: user, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-check">
    <% is_premium_class = "form-check-input" %>
    <% is_premium_was_invalid = user.errors.include?(:is_premium) %>

    <% if was_validated %>
      <% if is_premium_was_invalid %>
        <% is_premium_class << " is-invalid" %>
      <% else %>
        <% is_premium_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :is_premium, class: "form-check-label" do %>
      <%= f.check_box :is_premium, class: is_premium_class %> Is premium
    <% end %>
    <% if is_premium_was_invalid %>
      <% user.errors.full_messages_for(:is_premium).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% profile_picture_class = "form-control" %>
    <% profile_picture_was_invalid = user.errors.include?(:profile_picture) %>

    <% if was_validated %>
      <% if profile_picture_was_invalid %>
        <% profile_picture_class << " is-invalid" %>
      <% else %>
        <% profile_picture_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :profile_picture %>
    <%= f.text_field :profile_picture, class: profile_picture_class, placeholder: "Enter profile picture" %>
    <% if profile_picture_was_invalid %>
      <% user.errors.full_messages_for(:profile_picture).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% bio_class = "form-control" %>
    <% bio_was_invalid = user.errors.include?(:bio) %>

    <% if was_validated %>
      <% if bio_was_invalid %>
        <% bio_class << " is-invalid" %>
      <% else %>
        <% bio_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :bio %>
    <%= f.text_area :bio, class: bio_class, placeholder: "Enter bio" %>
    <% if bio_was_invalid %>
      <% user.errors.full_messages_for(:bio).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% username_class = "form-control" %>
    <% username_was_invalid = user.errors.include?(:username) %>

    <% if was_validated %>
      <% if username_was_invalid %>
        <% username_class << " is-invalid" %>
      <% else %>
        <% username_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :username %>
    <%= f.text_field :username, class: username_class, placeholder: "Enter username" %>
    <% if username_was_invalid %>
      <% user.errors.full_messages_for(:username).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
