<%= form_with(model: @privilege, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :challenge_id %>

    <%= f.collection_select :challenge_id, Challenge.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <%= f.submit "Create privilege", class: "btn btn-block btn-outline-secondary" %>
<% end %>
