<div class="card mb-3">
  <h2 class="card-header h4">
    Challenge #<%= challenge.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Starting time</dt>
      <dd><%= challenge.starting_time %></dd>

      <dt>Ending time</dt>
      <dd><%= challenge.ending_time %></dd>

      <dt>Challenge name</dt>
      <dd><%= challenge.challenge_name %></dd>

      <dt>Challenge image</dt>
      <dd>
        <%= cl_image_tag @challenge.challenge_image, class: "img-fluid" %>
      </dd>

      <dt>Removal policy</dt>
      <dd><%= challenge.removal_policy %></dd>

      <dt>New user policy</dt>
      <dd><%= challenge.new_user_policy %></dd>

      <dt>Penalty policy</dt>
      <dd><%= challenge.penalty_policy %></dd>

      <dt>Workout perday policy</dt>
      <dd><%= challenge.workout_perday_policy %></dd>

      <dt>Workout criteria</dt>
      <dd><%= challenge.workout_criteria %></dd>

      <dt>Prize policy</dt>
      <dd><%= challenge.prize_policy %></dd>

      <dt>Challenge handle</dt>
      <dd><%= challenge.challenge_handle %></dd>

      <dt>Number of teams</dt>
      <dd><%= challenge.number_of_teams %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back challenge, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_challenge_url(challenge), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to challenge, method: :delete, data: { confirm: "Do you really want to delete this challenge?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(challenge.updated_at) %> ago
  </div>
</div>
