<%= form_with(model: @team, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :team_name %>

    <%= f.text_field :team_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :team_picture %>

    <%= f.file_field :team_picture, class: "form-control" %>
  </div>

  <%= f.hidden_field :challenge_id, value: @challenge.id %>

  <%= f.submit "Create team", class: "btn btn-block btn-outline-secondary" %>
<% end %>
