<%= form_with(model: @photoworkout, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :caption %>
    <%= f.text_area :caption, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :challenge_id, value: @challenge.id %>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :likes_count %>

    <%= f.text_field :likes_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :photo_locator %>

    <%= f.file_field :photo_locator, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :calories %>

    <%= f.text_field :calories, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :main_exercise %>

    <%= f.text_field :main_exercise, class: "form-control" %>
  </div>

  <%= f.submit "Create photoworkout", class: "btn btn-block btn-outline-secondary" %>
<% end %>
