<%= form_with(model: @participation, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :challenge_id, value: @challenge.id %>

  <div class="form-group">
    <%= f.label :team_id %>

    <%= f.collection_select :team_id, Team.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create participation", class: "btn btn-block btn-outline-secondary" %>
<% end %>
