<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @challenge, partial: "card", as: :challenge %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "challenges/challenge_participations" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "challenges/challenge_photos" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "challenges/challenge_privileges" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "challenges/challenge_teams" %>
  </div>
</div>
